.flexbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header {
    height: 200px;
}

.countdown {
    font-size: 40px;
}

button {
        background-color: #039be5;
        border-radius: 8px;
        color: #fff;
        cursor: pointer;
        font-size: 1.2em;
        letter-spacing: 0.21px;
        line-height: 16px;
        max-width: 255px;
        max-height: 75px;
        padding: 20px 52px;
        text-align: center;
        transition-duration: 0.15s;
        transition-property: background-color;
        transition-timing-function: linear;
        margin-top: 0.6em;
        float: none;
}

button:hover {
    background-color: #0288d1;
  }

.main-body {
    height: 200px;
    width: 100%;
    justify-content: center;
}

.question-answer {
    justify-content: center;
}

.questions {
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.choices {
    margin: 10px;
}

#start-quiz {
    font-size: 30px;
}